<footer>
    <section id="footer-section" class="page-section">
        <div class="section-background"></div>
        <div class="section-content">
            <div class="section-container centered-container section-container-inner section-container-layout"
                tabindex="-1">
                <div
                    class="full-width-desktop desktop-grid-span full-width-mobile mobile-grid-span full-width-tablet tablet-grid-span grid-group section-grid">
                    <div class="grid-gutters grid-gutters-inner">
                        <div>
                            <div class="content-grid content-grid-inner content-grid-layout">
                                <div id="footer-column"
                                    class="full-width-desktop desktop-grid-span grid-column section-column column-layout column-padding-top column-content-layout column-padding-bottom column-content">
                                    <div class="column-inner">
                                        <div class="text-block text-block-padding text-block-content text-block-overlay">
                                            <p dir="ltr" class="body-text text-direction"><span class="text-span">2008-{{ "now" | date: "%Y" }}, {{ site.author.name}}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
