<header id="site-header">
    <div class="navigation-shell light-navigation top-navigation" data-top-navigation="true" data-is-preview="false">
        <div class="menu-toggle menu-button drawer-nav-content" role="button" tabindex="0" id="navigation-toggle"
            aria-haspopup="true" aria-controls="navigation-drawer" aria-expanded="false" aria-label="Show sidebar"
            title="Show sidebar"><svg class="menu-icon" viewbox="0 0 24 24" stroke="currentColor" focusable="false">
                <g transform="translate(12,12)">
                    <path class="menu-line-top" d="M-9 -5 L9 -5" fill="none" stroke-width="2"></path>
                    <path class="menu-line-middle" d="M-9 0 L9 0" fill="none" stroke-width="2"></path>
                    <path class="menu-line-bottom" d="M-9 5 L9 5" fill="none" stroke-width="2"></path>
                </g>
            </svg></div>
        <nav class="nav-drawer" role="navigation" tabindex="-1" id="navigation-drawer" aria-label="Site navigation"><a
                class="drawer-brand-link" href="{{ '/home/' | relative_url }}"><img
                    src="{{ '/assets/images/profile.png' | relative_url }}" class="drawer-brand-image" role="img"
                    aria-label="Site home" alt="Site home"></a><a class="drawer-title drawer-nav-content"
                href="{{ '/home/' | relative_url }}"><span>Parsa Amini</span></a>
            <ul class="nav-list drawer-list" tabindex="-1">
                <li data-nav-level="1">
                    <div class="nav-item drawer-item-level-one drawer-item drawer-item-inset drawer-nav-content drawer-item-active"
                        aria-current="true">
                        <div class="nav-link-wrapper"><a class="nav-link nav-link-content drawer-link nav-link-nowrap"
                                role="link" tabindex="0" data-navtype="1" aria-selected="true"
                                href="{{ '/home/' | relative_url }}" data-url="/home" data-type="1"
                                data-level="1">Home</a></div>
                    </div>
                </li>
                <li data-nav-level="1">
                    <div class="nav-item drawer-item-level-one drawer-item drawer-item-inset drawer-nav-content">
                        <div class="nav-link-wrapper"><a class="nav-link nav-link-content drawer-link nav-link-nowrap"
                                role="link" tabindex="0" data-navtype="1" href="{{ '/contact/' | relative_url }}"
                                data-url="/contact" data-type="1" data-level="1">Contact</a></div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="site-header-bar top-navigation header-flush-right header-position">
            <div class="header-inner">
                <div class="brand-container desktop-nav-content"><a class="brand-link"
                        href="{{ '/home/' | relative_url }}"><img
                            src="{{ '/assets/images/profile.png' | relative_url }}" class="brand-image" role="img"
                            aria-label="Site home" alt="Site home"><span
                            class="brand-title hide-brand-title-small">Parsa Amini</span></a></div>
                <nav class="desktop-navigation" id="desktop-navigation" data-is-preview="false" role="navigation"
                    tabindex="-1">
                    <ul class="desktop-nav-list nav-list-reset nav-list"
                    ><li data-nav-level="1" class="desktop-list-item"
                        ><div class="nav-item desktop-item desktop-item-box desktop-nav-content desktop-item-active"
                                aria-current="true"
                            ><div class="nav-link-wrapper"
                                ><a
                                        class="nav-link nav-link-content desktop-link nav-link-nowrap" role="link"
                                        tabindex="0" data-navtype="1" aria-selected="true"
                                        href="{{ '/home/' | relative_url }}" data-url="/home" data-type="1"
                                        data-level="1">Home</a
                                    ></div
                                ></div
                            ><div class="nav-item-separator"
                            ></div
                            ></li
                        ><li data-nav-level="1" class="desktop-list-item"
                        ><div class="nav-item desktop-item desktop-item-box desktop-nav-content"
                            ><div class="nav-link-wrapper"
                                ><a
                                        class="nav-link nav-link-content desktop-link nav-link-nowrap" role="link"
                                        tabindex="0" data-navtype="1" href="{{ '/contact/' | relative_url }}"
                                        data-url="/contact" data-type="1" data-level="1">Contact</a
                                    ></div
                                ></div
                            ><div class="nav-item-separator"
                            ></div
                            ></li
                        ></ul>
                </nav>
            </div>
            <div class="header-background"></div>
        </div>
        <div class="drawer-backdrop"></div>
    </div>
</header>
